PORT=3000
DATABASE_URL="mongodb+srv://<username>:<password>@cluster.mongodb.net/portfoliobuilder?retryWrites=true&w=majority"
JWT_SECRET="your_super_secret_jwt_key"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"
UPLOAD_DIR="uploads"
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="your_mailtrap_user"
MAIL_PASS="your_mailtrap_password"
